/* Created by: Joanne Santhosh
* Created on: Feb 2022
*This CSS file defines the style for index.html ICS20-Unit1-04-HTML-CSS */

body {
  background-color: rgb(0, 128, 128);
}

h1 {
  background-color: rgb(120, 8, 70);
  color: hsl(147, 50%, 47%);
}

p {
  background-color: rgb(255, 0, 255);
}
